.title {
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
}

.container-fluid {
    margin-bottom: 5px;
}

.citySearcher {
    background-color: rgb(219, 219, 219);
}
.currentDay {
 display: flex;
}

.default{
    width: 100vw;
    height:30vh
}

.center {
    line-height: 100px;
    text-align: center;
}

span {
    margin-left: 5px;
    height: fit-content;
    width: auto;
}

.searchHistory {
    padding-left: 0;
    list-style: none;
}

.card-body {
    width: 100%;
    text-transform:capitalize;
}